* {
	font-family: 'Noto Sans KR', sans-serif;
	
}

.main-logo{
	font-size: 80px;
	font-style: bold;
	font-weight: 700;
	color: black;
}

span{
	
	color : black;
}

	
.nav-height{
	
	height: 160px;
	
}

.main-content{
	
	margin-left: 200px;
	height: 200%;
}

.footer {

	bottom : 0;
	width: 100%;
}